body{
    background-color: rgb(166, 172, 197);
    color: #fff;
    font-family: 'Mukta', sans-serif;
}

#diagram text{
    font-size: 15px;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

#chain .chain-snippet-skipping{
    fill: none;
    stroke-width: 1px;
    fill-opacity: 0.2;
    stroke: none;
}

#diagram .d-text{
    font-size: 10px;
    font-weight: bold;
}

#chain .chain-snippet-skipping-hover{
    fill: #ffb3b3;
    stroke-width: 1px;
    fill-opacity: 0.2;
    stroke: #c1575c;
}

#chain .chain-snippet-inclusion{
    fill: none;
    stroke-width: 1px;
    fill-opacity: 0.2;
    stroke: none;
}

#chain .chain-snippet-inclusion-hover{
    fill: #99ccff;
    stroke-width: 1px;
    fill-opacity: 0.2;
    stroke: #1c4976;
}

#chain{
    width: 400px;
    height: 130px;
    background-color: #fff;
    /* border: 1px solid #000; */
    border-radius: 5px;
    padding: 30px;
    margin: 10px;
}

#diagram{
    width: 400px;
    height: 130px;
    background-color: #fff;
    /* border: 1px solid #000; */
    border-radius: 5px;
    padding: 30px;
    margin: 10px;
}